<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Transactions</title>
</head>
<body>
    <h2>Welcome, {{username}}</h2>

    <h3>Options</h3>
    <a href="/add-form">Add Money</a> 
    <a href="/withdraw-form">Withdraw Money</a>

    <h3>Transaction History</h3>
    <ul>
        {% for txn in transactions %}
            <li>&#8377;{{ txn[0] }} {{ txn[1] }} on {{ txn[2].strftime('%d %B %Y, %I:%M %p') }}</li>
        {% else %}
            <li>No transaction yet.</li>
        {% endfor %}
    </ul>
</body>
</html>