<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Transactions</title>
</head>
<body>
    <h2>Welcome, {{username}}</h2>

    <h3>Add Money</h3>
    <form method="POST" action="/add">
        <input type="number" name="amount" value="" step="0.01" required>
        <input type="text" name="description" placeholder="Description">
        <button type="submit">Add</button>
    </form>

    <h3>Withdraw Money</h3>
    <form method="POST" action="/withdraw">
        <input type="number" name="amount" step="0.01" required>
        <input type="text" name="description" placeholder="Description">
        <button type="submit">Withdraw</button>
    </form>

    <h3>Transaction History</h3>
    <ul>
        {% for txn in transactions %}
            <li>&#8377;{{ txn[0] }} {{ txn[1] }} on {{ txn[2].strftime('%d %B %Y, %I:%M %p') }}</li>
        {% else %}
            <li>No transaction yet.</li>
        {% endfor %}
    </ul>
</body>
</html>